html {
  background: black;
  height: 100%;
}

body, table {
  position: relative;
  max-width: 900px;
  margin: auto;
  background: #91553D;
  text-align: center;
  font-size: 18px;
}

.dark {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  height: 100%;
  background: #111111;
  text-align: center;
  color: gold;
}

a {
  color: black;
  font-size: 20px;
}

h1 {
  margin: 0;
  padding-top: 20px;
}

h2, h3 {
  margin: 10px;
}

.darka {
  color: gold;
  font-size: 20px;
}

.daylight, .store, .school, .history, .sleep, .dead {
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.daylight {
  background-image: url(daylight.jpg);
}

.store {
  background-image: url(food2.jpg);
}

.school {
  background-image: url(school.jpg);
}

.history {
  background-image: url(history.jpg);
}

.sleep {
  height: 568px;
  background-image: url(moon.jpg);
}

.dead {
  background-size: cover;
  background-image: url(rip.jpg);
}

.picture {
  padding-top: 200px;
  width: 200px;
}

.picture2 {
  padding-top: 400px;
}

.actions {
  height: 100%;
}

.bar {
  background: #456543;
}

input:required {
  border: 2px dotted red;
}

.error {
  color: gold;
}
