html {
  background: black;
  height: 100%;
}

body, table {
  position: relative;
  max-width: 900px;
  margin: auto;
  background: #91553D;
  text-align: center;
  font-size: 18px;
}

a {
  color: black;
  font-size: 20px;
}

h1 {
  margin: 0;
  padding-top: 20px;
}

h2, h3 {
  margin: 10px;
}

.daylight {
  background-size: 100%;
  background-image: url(daylight.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.store {
  background-size: 100%;
  background-image: url(food2.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.school {
  background-size: 100%;
  background-image: url(school.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.history {
  background-size: 100%;
  background-image: url(history.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.picture {
  padding-top: 200px;
  width: 200px;
}

.actions {
  height: 100%;
}

.bar {
  background: #456543;
}

input:required {
  border: 2px dotted red;
}
