<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Thymeleaf Exercise #</title>
  <link rel="stylesheet" th:href="@{/style.css}"/>
  <meta charset="utf-8"/>
</head>
<body>
<th:block th:each="e : ${animalAccount}" th:switch="${e.goodOrBad}">
  <div th:case="'Good guy'"
       th:text="${eStat.index} + ' ' + ${e.animalType} + ' ' + ${e.name} + ' ' + ${#numbers.formatDecimal(e.balance, 0, 2)} + ' Zebra ' + 'Good guy'">
  </div>
  <div th:case="'Bad guy'"
       th:text="${eStat.index} + ' ' + ${e.animalType} + ' ' + ${e.name} + ' ' + ${#numbers.formatDecimal(e.balance, 0, 2)} + ' Zebra ' + 'Bad guy'">
  </div><a th:href="'/hit?id=' + ${eStat.index}">Add 10 Zebra</a>

  <!--<form action="/form" th:object="${entry}">-->
    <!--Name of Lionking Character: <input type="text" th:field="*{name}" />-->
    <!--What type of animal is it?: <input type="text" th:field="*{animalType}" />-->
    <!--How many Zebras does it have on its bank account?: <input type="text" th:field="*{balance}"/>-->
    <!--Is it "Good guy" or "Bad guy"?: <input type="text" th:field="*{goodOrBad}" />-->
    <!--<input type="submit" value="HITIT with a form" />-->
  <!--</form>-->
</th:block>
<form>
  Name of Lionking Character:<input type="text" name="name"/><br/>
  What type of animal is it?:<input type="text" name="name"/><br/>
  How many Zebras does it have on its bank account?:<input type="text" name="name"/><br/>
  Is it "Good guy" or "Bad guy"?:<input type="text" name="name"/><br/>
  <input type="submit" value="Add a new character"/>
</form>

</body>
</html>