<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Thymeleaf Exercise #</title>
  <link rel="stylesheet" th:href="@{/style.css}"/>
  <meta charset="utf-8"/>
</head>
<body>
<th:block th:each="e : ${animalAccount}" th:switch="${e.goodOrBad}">
  <div th:case="'Good guy'"
       th:text="${eStat.index} + ' ' + ${e.animalType} + ' ' + ${e.name} + ' ' + ${#numbers.formatDecimal(e.balance, 0, 2)} + ' Zebra ' + 'Good guy'">
  </div>
  <div th:case="'Bad guy'"
       th:text="${eStat.index} + ' ' + ${e.animalType} + ' ' + ${e.name} + ' ' + ${#numbers.formatDecimal(e.balance, 0, 2)} + ' Zebra ' + 'Bad guy'">
  </div>
  <div
      style="height: 20px; width: 100px; border: 2px solid #999; background: aquamarine; text-align: center; padding-top: 2px;">
    <a th:href="'/hit?id=' + ${eStat.index}">Add 10 Zebra</a></div>
</th:block>
<form action="/form">
  Name of Lionking Character:<input type="text" name="name"/><br/>
  What type of animal is it?:<input type="text" name="animalType"/><br/>
  How many Zebras does it have on its bank account?:<input type="text" name="balance"/><br/>
  Is it "Good guy" or "Bad guy"?:<input type="text" name="goodOrBad"/><br/>
  <input type="submit" value="Add a new character"/>
</form>
</body>
</html>