<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Official Pikachu fan page!</title>
  <link rel="stylesheet" type="text/css" href="styles.css"/>
</head>
<body>
<h1>About the game</h1>
<p><a style="text-decoration: none" href="/login.html"> - Back to Login - </a></p>
<div class="daylight">
  <img class="picture" src="pikachu.png"/>
</div>
<h3>Last update was on 2017-05-09 1:00</h3>
<li>Check if name is already taken</li>
<li>Sleep pictures updated, location fixed</li>
<li>Background color issue fixed at the bottom of the pages</li>
<li>Small print, legal notice added</li>
<li>About page added</li>

<br/>
<p>Small print:<br/> All @copyright belongs to the original owners, no @copyright infringement intended.<br/> Everyone uses the game to their own risk.<br/>All disputes has to be solved outside of the house of law<br/>By using this product you agree to the terms and conditions.</p>
<br/>
</body>
</html>