<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Official Pikachu fan page!</title>
  <link rel="stylesheet" type="text/css" href="styles.css"/>
</head>
<body>
<h1>About the game</h1>
<form action="/login" method="post">
  <button type="submit" title=" Go back to login page " class="btn-link"> - Back to Login - </button>
</form>
<p><a style="text-decoration: none" href="/login"> - Back to Login - </a></p>
<div class="daylight">
  <img class="picture3" src="bayleef.png"/>
  <img class="picture3" src="teddiursa.png"/>
  <img class="picture3" src="charmander.png"/>
  <img class="picture3" src="machop.png"/>
  <img class="picture3" src="pikachu.png"/>
  <img class="picture3" src="growlithe.png"/>
  <img class="picture3" src="snorlax.png"/>
  <img class="picture3" src="furret.png"/>
</div>
<h3>Last update was on 2017-05-12 1:00</h3>
<li>Remove long visible urls</li>
<li>Make links ENUM and TH, shortening HTML code</li>
<br/>
<p>Small print:<br/> All @copyright belongs to the original owners, no @copyright infringement intended.<br/> Everyone uses the game to their own risk.<br/>All disputes has to be solved outside of the house of law<br/>By using this product you agree to the terms and conditions.</p>
<br/>
</body>
</html>