<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Official Pikachu fan page!</title>
  <link rel="stylesheet" type="text/css" href="styles.css"/>
</head>
<body>
<h1>Action History</h1>
<table>
  <tr>
    <td th:each="l : ${links}">
      <form th:action="${l.getLink()}" method="post" enctype="application/x-www-form-urlencoded">
        <input
            type="hidden" name="random" th:value="${pikachu.actionHistory.get(0)}"/>
        <button type="submit" name="name" th:title="${l.getTitle()}"
                th:value="${pikachu.name}" class="btn-link" th:text="${l.getText()}"></button>
      </form>
    </td>
  </tr>
</table>
<br/>
<div class="history">
  <img class="picture" th:src="${pikachu.type} + '.png'"/>
</div>
<h2>Action History</h2>
<div class="th">
  <th:block th:each="a : ${actionHistory}">
    <li th:text="${a}"></li>
  </th:block>
  <br/></div>
</body>
</html>
