<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Official Pikachu fan page!</title>
  <link rel="stylesheet" type="text/css" href="styles.css"/>
</head>
<body>
<h1>Action History</h1>
<table >
  <tr>
    <td><a style="text-decoration: none" th:href="'/?name=' + ${pikachu.name}"> - Information - </a></td>
    <td><a style="text-decoration: none" th:href="'/nutritionStore.html?name=' + ${pikachu.name}"> - Nutrition Store - </a></td>
    <td><a style="text-decoration: none" th:href="'/trickCenter.html?name=' + ${pikachu.name}"> - Trick Center - </a></td>
    <td><a style="text-decoration: none" th:href="'/actionHistory.html?name=' + ${pikachu.name}"> - Action History - </a></td>
    <td><a style="text-decoration: none" th:href="'/sleep.html?name=' + ${pikachu.name}"> - Go To Sleep - </a></td>
    <td><a style="text-decoration: none" href="/login.html"> - Logout - </a></td>
  </tr>
</table>
<br/>
<div class="history">
  <img class="picture" th:src="${pikachu.type} + '.png'"/>
</div>
<h2>Action History</h2>

<th:block th:each="a : ${actionHistory}">
  <li th:text="${a}"></li>
</th:block>
<br/>
</body>
</html>