<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Official Pikachu fan page!</title>
  <link rel="stylesheet" type="text/css" href="styles.css"/>
</head>
<body>
<h1>Action History</h1>
<table>
  <tr>
    <td><a style="text-decoration: none" href="/"> - Information - </a></td>
    <td><a style="text-decoration: none" href="/nutritionStore.html"> - Nutrition Store - </a></td>
    <td><a style="text-decoration: none" href="/trickCenter.html"> - Trick Center - </a></td>
    <td><a style="text-decoration: none" href="/actionHistory.html"> - Action History - </a></td>
  </tr>
</table>
<br/>
<br/>
<img src="pikachu.png" width="300px"/>
<br/><br/>

<h2>Action History</h2>
<th:block th:each="a : ${actionHistory}">
  <li th:text="${a}"></li>
</th:block>

</body>
</html>