<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Official Pikachu fan page!</title>
  <link rel="stylesheet" type="text/css" href="styles.css"/>
</head>
<body>
<h1>Official Pikachu fan page!</h1>
<table >
  <tr>
    <td><a style="text-decoration: none" th:href="'/?name=' + ${pikachu.name}"> - Information - </a></td>
    <td><a style="text-decoration: none" th:href="'/nutritionStore.html?name=' + ${pikachu.name}"> - Nutrition Store - </a></td>
    <td><a style="text-decoration: none" th:href="'/trickCenter.html?name=' + ${pikachu.name}"> - Trick Center - </a></td>
    <td><a style="text-decoration: none" th:href="'/actionHistory.html?name=' + ${pikachu.name}"> - Action History - </a></td>
    <td><a style="text-decoration: none" th:href="'/sleep.html?name=' + ${pikachu.name}"> - Go To Sleep - </a></td>
    <td><a style="text-decoration: none" href="/login.html"> - Logout - </a></td>
  </tr>
</table>
<br/>
<div class="daylight">
<img class="picture" th:src="${pikachu.type} + '.png'"/>
</div>
<h3 th:text="'I am ' + ${age} + ' days old!'"></h3>
<p th:text="${pikachu.toString()}"></p>
<table>
  <tbody>
  <tr>
    <td>Happiness: </td><td class="bar" th:width="${pikachu.happiness}"></td><td><span th:text="${pikachu.happiness} + '%'"></span></td>
    <td> || </td>
    <td>Weight: </td><td class="bar" th:width="${pikachu.weight}"></td><td><span th:text="${pikachu.weight} + '%'"></span></td>
  </tr>
  </tbody>
</table>
<h3>Last Action taken</h3>
<th:block>
  <li th:text="${actionHistory.get(0)}"></li>
</th:block>
<h3>Known tricks</h3>
<th:block th:each="p : ${listOfTricks}">
  <li th:text="${p}"></li>
</th:block>
<br/>
<br/>
<br/>
<br/>
</body>
</html>
