<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Official Pikachu fan page!</title>
  <link rel="stylesheet" type="text/css" href="styles.css"/>
</head>
<body>
<h1>Call your Pokemon, or create a new one!</h1>
<br/>
<form action="/about.html" method="post">
  <button type="submit" name="your_name" value="your_value" class="btn-link"> - About - </button>
</form>
<br/>
<div class="daylight">
  <img class="picture3" src="bayleef.png"/>
  <img class="picture3" src="teddiursa.png"/>
  <img class="picture3" src="charmander.png"/>
  <img class="picture3" src="machop.png"/>
  <img class="picture3" src="pikachu.png"/>
  <img class="picture3" src="growlithe.png"/>
  <img class="picture3" src="snorlax.png"/>
  <img class="picture3" src="furret.png"/>
</div>
<h3>Login to your Pokemon</h3>
<form action="/loginform" method="post" enctype="application/x-www-form-urlencoded">Name of your pokemon:
  <input title="name" type="text" name="name" placeholder="Name of Pokemon" autocomplete="off" required="required"/> Shout his calling word:
  <input title="callerid" type="password" name="callerid" placeholder="Call your Pokemon" autocomplete="off" required="required"/>
  <input type="submit" value="Come to me!"/>
</form>
<h3>Don`t have a Pokemon yet? Get one!</h3>
<form action="/signupform" method="post" enctype="application/x-www-form-urlencoded">What type of pokemon do you want? <select title="type" name="type">
  <th:block th:each="t : ${type}">
    <option  th:value="${t.getName()}" th:text="${t.getName()}"></option>
  </th:block>
</select><br/>
  What should be the name of your pokemon? <input title="nameofpokemon" type="text" name="nameofpokemon" placeholder="Give a name" autocomplete="off" required="required"/><br/>
  Choose a calling word: <input title="newcallerid" type="password" name="newcallerid" placeholder="you need to remember this" autocomplete="off" required="required"/><br/>
<input type="submit" value="Get my new Pokemon!"/></form>
<br/>
<th:block th:switch="${message}">
<h2 class="error" th:case="wrongcallerid" th:text="'Opps ... Wrong name or calling name! Try again!'"></h2>
<h2 class="error" th:case="nameistaken" th:text="'Opps ... This name is already taken! Please try an other name!'"></h2>
<h2 class="error" th:case="oops" th:text="'Opps ... Something unexpected happened! Please try again!'"></h2>
<h2 class="error" th:case="logout" th:text="'Opps ... Authentication problem. Please log back again!'"></h2>
<h2 class="error" th:case="specialcharacter" th:text="'Opps ... It can only contain numbers and letters! No special characters, no space! Please try again!'"></h2>
</th:block>

<br/>
</body>
</html>