<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Official Pikachu fan page!</title>
  <link rel="stylesheet" type="text/css" href="styles.css"/>
</head>
<body class="actions">
<h1>Nutrition Store</h1>
<table>
  <tr>
    <td><a style="text-decoration: none" href="/"> - Information - </a></td>
    <td><a style="text-decoration: none" href="/nutritionStore.html"> - Nutrition Store - </a></td>
    <td><a style="text-decoration: none" href="/trickCenter.html"> - Trick Center - </a></td>
    <td><a style="text-decoration: none" href="/actionHistory.html"> - Action History - </a></td>
    <td><a style="text-decoration: none" href="/sleep.html"> - Go To Sleep - </a></td>
  </tr>
</table>
<br/>
<div class="store">
  <img class="picture" src="pikachu.png"/>
</div>
<h3>What would you like to get?</h3>
<form action="/nutritionform">Food <input id="food" list="foods" name="food" autocomplete="off" placeholder="Choose one, or add new"/> Drink <input id="drink" list="drinks" name="drink" autocomplete="off" placeholder="Choose one, or add new"/> <input type="submit" value="Give it to me!"/></form>
<datalist id="foods">
  <option>Strawberry</option>
  <option>Banana</option>
  <option>Tomato</option>
</datalist>
<datalist id="drinks">
  <option>Smoothy</option>
  <option>Tomato Juice</option>
  <option>Coffee</option>
</datalist>
</body>
</html>