<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Official Pikachu fan page!</title>
</head>
<body>
<h1>Nutrition Store</h1>
<li>
  <a href="/">Information</a></li>
<li>
  <a href="/nutritionStore.html">Nutrition Store</a>
</li>
<li>
  <a href="/trickCenter.html">Trick Center</a>
</li>
<br/>
<br/>
<img src="pikachu.png" width="300px"/>
<br/>
<form action="/nutritionform">Food <input id="food" list="foods" name="food"/> Drink <input id="drink" list="drinks" name="drink"/> <input type="submit" value="Give it to me!"/></form>
<datalist id="foods">
  <option>Strawberry</option>
  <option>Banana</option>
  <option>Tomato</option>
</datalist>
<datalist id="drinks">
  <option>Smoothy</option>
  <option>Tomato Juice</option>
  <option>Coffee</option>
</datalist>
</body>
</html>