<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Official Pikachu fan page!</title>
  <link rel="stylesheet" type="text/css" href="styles.css"/>
</head>
<body class="dark">
<h1>Official Pikachu fan page!</h1>
<form action="/wakeup" method="post" enctype="application/x-www-form-urlencoded"><input
    type="hidden" name="random" th:value="${actionHistory.get(0)}"/>
  <button type="submit" name="name" title=" Do you really want to wake me up? "
          th:value="${pikachu.name}" class="btn-link-dark"> - Wake me up - at your own risk! - </button>
</form>
<p><a style="text-decoration: none" href="/login" class="darka"> - Logout - </a></p>
<div class="sleep">
<img class="picture2" th:src="${pikachu.type} + 'Sleep.png'" height="150px"/>
</div>
<p th:text="'I am ' + ${age} + ' days old!'"></p>
<h2>I am sleeping now.. please do not disturb!</h2>
<th:block>
  <p th:text="${actionHistory.get(0)}"></p>
</th:block>
<br/>
</body>
</html>
