<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Official Pikachu fan page!</title>
  <link rel="stylesheet" type="text/css" href="styles.css"/>
</head>
<body class="actions">
<h1>Trick Center</h1>
<table>
  <tr>
    <td><a style="text-decoration: none" href="/"> - Information - </a></td>
    <td><a style="text-decoration: none" href="/nutritionStore.html"> - Nutrition Store - </a></td>
    <td><a style="text-decoration: none" href="/trickCenter.html"> - Trick Center - </a></td>
    <td><a style="text-decoration: none" href="/actionHistory.html"> - Action History - </a></td>
    <td><a style="text-decoration: none" href="/sleep.html"> - Go To Sleep - </a></td>
  </tr>
</table>
<br/>
<div class="school">
  <img class="picture" src="pikachu.png"/>
</div>
<h3>What would you like to learn?</h3>
<form action="/trickform">Learn new Tricks <select name="trick">
  <th:block th:each="t : ${tricks}">
    <option th:value="${t}" th:text="${t}"></option>
  </th:block>
</select> <input type="submit" value="Teach it to me!"/></form>

</body>
</html>